<!DOCTYPE html>
<html>

<head>
    <title>Bitcoin price in USD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <h3 class="header">Today's current Bitcoin Pice in USD is:</h3>
        <br>
        <h3 class="message">{{message1}}</h3>
        <br>
        <br>
        <br>        
        <br>
        <h3 class="header">Average Price for the last 10 minutes:</h3>
        <br>
        <h3 class="message">{{message2}}</h3>
        <br>
    </div>
</body>

</html>